<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">We can't wait to hear from you!</h1>
      </div>
    </div>

    <form class="form-horizontal">
      <div class="form-group">
        <%= label_tag :name, :Name, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= text_field_tag :name, nil, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :email, :Email, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= email_field_tag :email, nil, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :phone, :Phone, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= phone_field_tag :phone, nil, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :origin, "How did you hear about us?", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= text_area_tag :origin, nil, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :comments, "We want to hear it all: When? <br>Where? <br>Color? <br>Budget?".html_safe, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= text_area_tag :comments, nil, class: "form-control", rows: 6 %>
        </div>
      </div>
      <%= submit_tag "Submit", class: "btn btn-peach pull-right" %>
    </div>
  </div>
</div>
