<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag "header.jpg", class: "img-responsive" %>
    </div>
  </div>

  <div class="row opening-text">
    <div class="col-sm-10 col-sm-offset-1">
      <p>We're preparing to help brides achieve their happily ever after,
      bringing people together, and making the event
      the most memorable for each of your guests.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= image_tag "logo-large.png", class: "img-responsive" %>
    </div>
  </div>

  <div class="row recipe-start">
    <div class="col-sm-12">
      <p>Check back soon but for now...enjoy this recipe for scrumtious Macaroons</p>
    </div>
  </div>

  <div class="row recipe-body">
    <div class="col-sm-6">
      <%= image_tag "macaroon.jpg", class: "img-responsive" %>
    </div>
    <div class="col-sm-6">
      <p>Ingredients:<br>
      2 eggs<br>
      1-cup of Icing Sugar<br>
      3 ounces of almonds<br>
      1/4 cup Caster Sugar<br>
      Food Colouring</p>

      <p>1.<br>
      Preheat oven to 165&deg;(fan bake). Separate your egg whites in a bowl and
      whisk until stiff. Add 1/4 cup of caster sugar to the mix and continue to
      beat. Add a teaspoon of food coloring of your choice to the mixture.</p>

      <p>2.<br>
      In a separate bowl measure out a cup of icing sugar and sieve into a large
      mixing bowl. Sieve in a 3/4 cup of ground almonds.</p>

      <p>3.<br>
      Combine the two mixtures together with a spatula and mix well together.
      Take out a large flat baking pan and place a sheet of baking paper on it.
      Spoon half a teaspoon of mixture in circles onto your baking tray until
      baking sheet is covered in macaron mixture.</p>

      <p>4.<br>
      Once you have placed all of the mixture onto the tray, hold the baking
      paper firm on either sides and 'bang' the tray onto a flat surface. This
      gives the macarons a 'foot' when baked and creates the perfect smooth
      shape.</p>

      <p>5.<br>
      Bake the mixture for 10 - 15min. Your macaron should have a hard shell
      and a soft center. Leave your macarons on a cooling rack to cool down.</p>

      <p>After the macaron shells are complete you may fill them with your favorite
      custard or jam.</p>
      </p>
    </div>
  </div>

  <div class="row small-logo">
    <div class="col-sm-2 col-sm-offset-5">
      <%= image_tag "logo-small.png", class: "img-responsive" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      Made with <%= link_to "Love", "http://tomprats.com/love", target: :_blank %>
    </div>
  </div>
</div>
