<div class="header center-block text-center">
  <div class="header-logo center-block">
    <%= image_tag "enchanted_large.png" %>
  </div>
  <h4 class="header-tag">Let us help you fall in love with your event!</h4>
  <div class="header-nav">
    <div class="row">
      <%= link_to "Home", home_pages_path, class: "home" %>
      <%= link_to "About Us", about_pages_path, class: "about" %>
      <%= link_to "Your Dream Event", event_pages_path, class: "event" %>
      <%= link_to "Call Us Maybe", contact_pages_path, class: "contact" %>
      <%= link_to "Past Enchantments", past_pages_path, class: "past" %>
    </div>
  </div>
  <hr>
</div>
